version: '3.9'

services:
  backend:
    build:
      context: ../backend
      dockerfile: ../backend/Dockerfile
    container_name: 'blog-backend'
    ports:
      - '3000:3000'
    volumes:
      - '.:/app/persistence'
    env_file: '.secrets.example'
    environment:
      PORT: '3000'
      FRONTEND_ORIGIN: 'http://localhost'
      OPENROUTER_URL: 'https://openrouter.ai/api/v1/chat/completions'
      LLM_MODEL: 'mistralai/devstral-2512:free'
      ENABLE_DAILY_GENERATION: 'true'
      ARTICLE_CRON: '*/1 * * * *'
      TITLE_MAX_LENGTH: '200'
      CONTENT_MAX_LENGTH: '20000'
      ARTICLES_PATH: '/app/persistence/articles.json'
    networks:
      - 'automated-blog'

  frontend:
    build:
      context: ../frontend
      dockerfile: ../frontend/Dockerfile
    container_name: 'blog-frontend'
    ports:
      - '80:80'
    environment:
      PORT: '80'
      VITE_API_URL: 'localhost/api'
    networks:
      - 'automated-blog'

networks:
  automated-blog:
